<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>  
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col-4"
          style="width: 200px;"
          *ngIf="!isLoggedIn">
            <h3 class="text-center">PLEASE LOG IN OR REGISTER NEW USER</h3>
        </div>
        <div class="col-4"
          style="width: 200px;"
          *ngIf="isLoggedIn">
            <h3 class="text-center">LOGGED IN USER HOME PAGE</h3>
        </div>
      </div>
    </div>
  </div>